<style>
.btn {
 margin: 5px 2px;
}
</style>

<div style="text-align: center">
<h3>Template says: {{ modelTmpl.message }}</h3>



<div><i class="icon-leaf"></i></div>

- cordova<br/>
- require JS<br/>
- zepto JS<br/>
- backbone JS<br/>
- underscore JS<br/>
- hammer JS<br/>
- store JS<br/>
- mustache JS<br/>
- bootstrap<br/>
- FB SDK without Phonegap plugin (only JS)


{{#modelTmpl}}
<h3>Template says: {{ message }}</h3>
{{/modelTmpl}}
</div>